/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    list-style:none;
    margin: 0px;
    padding: 0px;
    text-decoration: none !important;
}

body {
    background-color: #101010;
    color: #fff;
}

/** HEADER **/
header {
    height: 400px;
    overflow:hidden;
    position:relative;
}
header img {
    position: absolute;
    top: -300px;
    z-index: -1;
}

/** NAV **/

.nav {
    display:flex;
    align-items: center;
    background-color: #290b27  !important;
    display:flex;
    justify-content: flex-end;
    gap: 20px;
    height: 70px;
    padding-right:20px;
}

.nav  a{
    color:white !important;
    font-size: 20px;
    text-decoration: none;
}

/** SURCOUCHE **/
.btn-primary {
    background-color: #3d1039  !important;
    border: #3d1039  !important;
}
.btn-xw {
    background-color: rgb(45, 131, 28)!important;
}
.btn-xd {
    background-color: red!important;
}
.btn-xw:hover{
    background-color: rgb(4, 104, 13);

}
.btn-xd:hover{
    background-color: rgb(160, 2, 2);

}
.bg-light {
    background-color: #290b27 !important;
}

/** EVENT LIST **/

.xform {
    background-color: #242424 !important;
    border: 3px solid #3d1039;
    padding: 40px;
    display:flex;
    flex-direction:column;
    align-items: center;    
}

.xform .field {
    margin: 10px;
}